/* Grid settings, individual for each area */
.grid {
  margin-top: 5vh;
  width: 85vw;
  height: 90vh;
  display: grid;
  column-gap: 2vw;
  row-gap: 4vh;
  grid-template-areas:
    "eins drei zwei zwei"
  "eins vier zwei zwei"
  "eins vier fuenf fuenf"
  "eins vier fuenf fuenf";
}
/* Assignment of wdigets to the grid*/
.widget-1 {
  grid-area: eins;
}

.widget-2 {
  grid-area: zwei
}

.widget-3 {
  grid-area: drei;
}

.widget-4 {
  grid-area: vier;
}

.widget-5 {
  grid-area: fuenf;
}
