/* Grid settings, individual for each area */
.grid {
  margin-top: 5vh;
  width: 85vw;
  height: 90vh;
  display: grid;
  column-gap: 2vw;
  row-gap: 4vh;
  grid-template-areas:
    "eins eins drei drei"
  "eins eins drei drei"
  "zwei zwei vier vier"
  "fuenf fuenf sechs sechs";
}
/* Assignment of wdigets to the grid*/
.widget-1 {
  grid-area: eins;
}

.widget-2 {
  grid-area: zwei
}

.widget-3 {
  grid-area: drei;
}

.widget-4 {
  grid-area: vier;
}

.widget-5 {
  grid-area: fuenf;
}

.widget-6 {
  grid-area: sechs;
}

.no-error {
  color: green;
}

.error {
  color: red;
}
