.gauge-flex-box {
  display: flex;
  justify-content: center;
  color: white;
}

.vertical_flex-box {
  display: flex;
  justify-content: space-around;
}

/* Grid settings, individual for each area */
.grid-total {
  margin-top: 5vh;
  width: 85vw;
  height: 90vh;
  display: grid;
  column-gap: 2vw;
  row-gap: 4vh;

  grid-template-areas:
    "grid-group-1"
    "grid-group-2";
}

.grid-group-1 {
  display: grid;
  column-gap: 2vw;
  grid-template-areas: "eins zwei zwei";
}

.grid-group-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2vw;
  grid-template-areas: "drei vier fuenf sechs";
}

/* Assignment of wdigets to the grid*/
.widget-1 {
  grid-area: eins;
}

.widget-2 {
  grid-area: zwei
}

.widget-3 {
  grid-area: drei;
}

.widget-4 {
  grid-area: vier;
}

.widget-5 {
  grid-area: fuenf;
}

.widget-6 {
  grid-area: sechs;
}

.no-error {
  color: green;
}

.error {
  color: red;
}
