<div class="grid">
  <div class="widget-1 widget flex-box">
    <h2>Systemsprache</h2>
    <app-widget-languages [system_language]="system_language" (change)="updateLanguage()" (eventLangChanged)="selectedLanguage=$event"></app-widget-languages>
  </div>
  <div class="widget-2 widget flex-box">
    <h2>IP-Adresse DB</h2>
    <h1>SETTINGS</h1>
  </div>
  <div class="widget-3 widget flex-box">
    <h2>Port DB</h2>
    <h1>SETTINGS</h1>
  </div>
  <div class="widget-4 widget flex-box">
    <h2>SETTINGS</h2>
    <h1>SETTINGS</h1>
  </div>
  <div class="widget-5 widget flex-box">
    <h2>SETTINGS</h2>
    <h1>SETTINGS</h1>
  </div>
</div>
