<div id="navigation_bar">
  <div class="flex-box">
    <div class="menu_item">
      <!-- Logo -->
      <img class="image" src="assets/images/logo.png" alt="Logo OWL Racing-Team">
    </div>
    <div class="menu_item option">
      <!-- Home -->
      <img class="image" src="assets/images/home.svg" alt="Home">
    </div>
    <div class="menu_item option">
      <!-- Battery -->
      <img class="image" src="assets/images/battery.svg" alt="Battery">
    </div>
    <div class="menu_item option">
      <!-- Motor -->
      <img class="image" src="assets/images/motor.svg" alt="Motor">
    </div>
    <div class="menu_item option">
      <!-- Controller -->
      <img class="image" src="assets/images/controller.svg" alt="Controller">
    </div>
    <div class="menu_item option">
      <!-- Settings -->
      <img class="image" src="assets/images/settings.svg" alt="Settings">
    </div>
  </div>
</div>
