<div id="navigation_bar">
  <div class="flex-box">
    <div class="menu_item">
      <app-item-navbar [menuState]="menuState" [navbar_entry]="nav_logo" (click)="clickNavItem()" (eventnavClicked)="menuState=$event"></app-item-navbar>
    </div>
    <div class="menu_item option">
      <app-item-navbar [menuState]="menuState" [navbar_entry]="nav_home" (click)="clickNavItem()" (eventnavClicked)="menuState=$event"></app-item-navbar>
    </div>
    <div class="menu_item option">
      <app-item-navbar [menuState]="menuState" [navbar_entry]="nav_battery" (click)="clickNavItem()" (eventnavClicked)="menuState=$event"></app-item-navbar>
    </div>
    <div class="menu_item option">
      <app-item-navbar [menuState]="menuState" [navbar_entry]="nav_motor" (click)="clickNavItem()" (eventnavClicked)="menuState=$event"></app-item-navbar>
    </div>
    <div class="menu_item option">
      <app-item-navbar [menuState]="menuState" [navbar_entry]="nav_controller" (click)="clickNavItem()" (eventnavClicked)="menuState=$event"></app-item-navbar>
    </div>
    <div class="menu_item option">
      <app-item-navbar [menuState]="menuState" [navbar_entry]="nav_settings" (click)="clickNavItem()" (eventnavClicked)="menuState=$event"></app-item-navbar>
    </div>
  </div>
</div>
