/* Navigationsleiste (Gesamt)*/
#navigation_bar {
  background-color: black;
  width: 10vw;
  height: 100vh;
  position: absolute;
}

/* Gruppe aller Divs in der Navbar */
.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Zentriert die Elemente */
  align-content: space-around; /* Platz zwischen den Elementen */
  height: 100vh;
}

/* Einträge in der Flex-Box */
.menu_item {
  height: 8vw;
  width: 8vw;
}

/* Alle Einträge in der Navigationsleiste*/
.option {
  height: 4vw;
  width: 4vw;
  margin: 8px;
}

/* Größe der Bilder */
.image {
  /* Größenangaben, damit Bilder die ganze Größe des Divs ausfüllen*/
  height: 100%;
  width: 100%;
}
