/* Vertical navigation bar*/
#navigation_bar {
  background-color: black;
  width: 10vw; /* Beispielwert, passe dies an deine Bedürfnisse an */
  min-height: 100vh;
  position: fixed; /* Ändere von 'absolute' auf 'fixed' */
}

/* Group of menu options inside the vertical navigation bar */
.flex-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly; /* Zentriert die Elemente */
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* menu items (options) inside the vertical navigation bar */
.menu_item {
  height: 8vw;
  width: 8vw;
}

/* If menu item ist an option, but not an logo */
.option {
  height: 4vw;
  width: 4vw;
  margin: 8px;
}
