/* Grid settings, individual for each area */
.grid {
  margin-top: 5vh;
  width: 85vw;
  height: 90vh;
  display: grid;
  column-gap: 2vw;
  row-gap: 4vh;
  grid-template-areas:
    "eins eins eins zwei zwei zwei"
    "eins eins eins zwei zwei zwei"
    "eins eins eins zwei zwei zwei"
    "drei vier vier fuenf fuenf sechs"
}
/* Assignment of wdigets to the grid*/
.widget-1 {
  grid-area: eins;
}

.widget-2 {
  grid-area: zwei
}

.widget-3 {
  grid-area: drei;
}

.widget-4 {
  grid-area: vier;
}

.widget-5 {
  grid-area: fuenf;
}

.widget-6 {
  grid-area: sechs;
}

.progress-container {
  width: auto;
  background-color: black;
  border-radius: 5px;
  margin: 0.5rem;
  min-width: 375px;
}

.progress-indicator {
  height: 30px;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.gas {
  background-color: green;
}

.brake {
  background-color: red;
}

/* Gauge */

mwl-gauge {
  width: 50px;
  height: 50px;
  display: block;
  padding: 5px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
