<div class="grid-total">
  <div class="grid-group-1">
    <div class="widget-1 widget flex-box">
      <h2 *ngIf="system_language == 'de'">Geschwindigkeit</h2>
      <h2 *ngIf="system_language == 'en'">Velocity</h2>

      <app-widget-chart-line-velocity></app-widget-chart-line-velocity>
      <!-- <h1>FR: {{velocityFR.value}} {{velocityFR.unit}}</h1>
      <h1>FL: {{velocityFL.value}} {{velocityFL.unit}}</h1>
      <h1>RR: {{velocityRR.value}} {{velocityRR.unit}}</h1>
      <h1>RL: {{velocityRL.value}} {{velocityRL.unit}}</h1> -->
    </div>
    <div class="widget-2 widget flex-box">
      <h2 *ngIf="system_language == 'de'">Beschleunigung</h2>
      <h2 *ngIf="system_language == 'en'">Acceleration</h2>

      <app-widget-chart-line-acceleration></app-widget-chart-line-acceleration>
      <!--
      <h1>FR: {{accelerationFR.value}} {{accelerationFR.unit}}</h1>
      <h1>FL: {{accelerationFL.value}} {{accelerationFL.unit}}</h1>
      <h1>RR: {{accelerationRR.value}} {{accelerationRR.unit}}</h1>
      <h1>RL: {{accelerationRL.value}} {{accelerationRL.unit}}</h1>
      -->
    </div>
  </div>
  <div class="grid-group-2">
    <div class="widget-3 widget flex-box">
      <h2 *ngIf="system_language == 'de'">Lenkrad</h2>
      <h2 *ngIf="system_language == 'en'">Steering wheel</h2>
      <div class="gauge-flex-box">
        <div>
          <ngx-gauge [size]="180" [margin]="0" [type]="'arch'" [label]="'Winkel'" [thick]="25" [min]="0" [max]="360"  [append]="steeringAngle.unit" [value]="steeringAngle.value" [thresholds]="thresholdConfig_steering_wheel"></ngx-gauge>
        </div>
      </div>
    </div>

    <div class="widget-4 widget flex-box">
      <h2 *ngIf="system_language == 'de'">Pedale</h2>
      <h2 *ngIf="system_language == 'en'">Pedals</h2>
      <h1 *ngIf="system_language == 'de'">Gas: {{accelerator.value}}{{accelerator.unit}}</h1>
      <h1 *ngIf="system_language == 'en'">Accelerator: {{accelerator.value}}{{accelerator.unit}}</h1>
      <div class="progress-container">
        <div class="progress-indicator gas" style="width: {{accelerator.value}}{{accelerator.unit}}" ></div>
      </div>
      <h1 *ngIf="system_language == 'de'">Bremse: {{brake.value}}{{brake.unit}}</h1>
      <h1 *ngIf="system_language == 'en'">Brake: {{brake.value}}{{brake.unit}}</h1>
      <div class="progress-container">
        <div class="progress-indicator brake" style="width: {{brake.value}}{{brake.unit}}" ></div>
      </div>
    </div>

    <div class="widget-5 widget flex-box">
      <h2 *ngIf="system_language == 'de'">Stoßdämpfer</h2>
      <h2 *ngIf="system_language == 'en'">Shock absorber</h2>
      <app-widget-chart-bar-shock_absorber></app-widget-chart-bar-shock_absorber>
      <!--
      <h1>FR: {{shockAbsorberFR.value}} {{shockAbsorberFR.unit}}</h1>
      <h1>FL: {{shockAbsorberFL.value}} {{shockAbsorberFL.unit}}</h1>
      <h1>RR: {{shockAbsorberRR.value}} {{shockAbsorberRR.unit}}</h1>
      <h1>RL: {{shockAbsorberRL.value}} {{shockAbsorberRL.unit}}</h1>
      -->
    </div>
    <div class="widget-6 widget flex-box">
      <div class="vertical_flex-box">
        <div>
          <h2 *ngIf="system_language == 'de'">Main ECU Zustandsautomat</h2>
          <h2 *ngIf="system_language == 'en'">Main ECU State Machine</h2>
        </div>
        <div>
          <h1>{{ statemachineState.value }}</h1>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-danger" (click)="startTSButton()">TS START</button>
        </div>
      </div>
    </div>
  </div>
</div>
