/* Alle Elemente auf der rechten Seite */
.surface {
  margin-left: 10vw; /* Abstand zur Navigationsleiste */
  width: 90vw;
  height: 100vh;
  background-color: rgb(18,19,24);
  display: flex;
  justify-content: space-around;
}

/* Einstellungen für das Verhalten und Größe der Widgets */
.grid {
  margin-top: 10vh;
  width: 80vw;
  height: 80vh;

  display: grid;
  column-gap: 2vw;
  row-gap: 4vh;
  grid-template-areas:
    "eins zwei zwei zwei drei drei"
    "vier zwei zwei zwei drei drei"
    "fuenf sechs sechs sechs drei drei";
}

/* Einstellungen für alle Widgets */
.widget {
  border-radius: 2vh;
  background-color: rgb(24,27,32);
}

/* Text in den Widgets */
p {
  color: white;
  text-align: center;
  font-family: Bahnschrift;
}

/* Alle Widgets werden über einen individuellen String adressiert*/
.widget-1 {
  grid-area: eins;
}

.widget-2 {
  grid-area: zwei;
}

.widget-3 {
  grid-area: drei;
}

.widget-4 {
  grid-area: vier;
}

.widget-5 {
  grid-area: fuenf;
}

.widget-6 {
  grid-area: sechs;
}



